.sign-up-login {
    max-width: 55vw;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
}

.connect {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.connect h2 {
    padding: 0.2rem 0;
    background-color: #000;
    border-radius: 5px;
}

.sign-up-login h2 {
    margin: 0;
    color: #f17828;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.options {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #f17828;
}

.options h3 {
    width: 12.5rem;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 0.5rem;
    cursor: pointer;
    background: none;
    text-decoration: underline;
    border-radius: 0;
    text-transform: uppercase;
}

.options h3:first-child {
    border-right: 1px solid #000;
}

.active {
    color: #fff;
    font-weight: bold;
}

.sign-up-login-form {
    display: flex;
    flex-direction: column;
}

form {
    width: 25rem;
    display: flex;
    flex-direction: column;
}

form input {
    margin: 0.2rem 0rem;
    padding: 0.7rem;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(17, 17, 17, 0.884);
    border: 1px solid #f17828;
    border-radius: 5px;
}

form input:active,
form input:focus {
    background-color: rgba(17, 17, 17, 0.884);
}

form button {
    border: 1px solid #000;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 1.1em;
    color: #000;
    cursor: pointer;
    background-color: #f17828;
}

form button:hover {
    background-color: #aa6638;
}

/* responsive */
@media only screen and (max-width: 900px) {
    .sign-up-login {
        flex-wrap: wrap;
    }

    .connect {
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .connect h2 {
        width: 90vw;
    }

    .sign-up-form {
        width: 90vw;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .options {
        width: 90vw;
    }

    form {
        width: 90vw;
    }
}